.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 90vh;
}

.content1 {
    justify-self: center;
    padding: 20px;
    border: solid 5px;
    align-self: center;
    text-align: center;
}

.content2 {
    align-self: center;
    text-align: center;
    border: solid 5px;
    justify-self: center;
    padding: 10px;
}

h1 {
    font-size: 100px;
}

textarea {
    width: 90%;
    height: 400px;
}

h3 {
    text-align: center;
}