@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    font-family: Roboto;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    
    grid-template-rows: 90vh;
}

.content1 {
    justify-self: center;
    padding: 20px;
    border: solid 5px;
    align-self: center;
    text-align: center;
    font-family: Roboto;
}

.content2 {
    align-self: center;
    text-align: center;
    border: solid 5px;
    justify-self: center;
    padding: 10px;
    font-family: Roboto;
}

h1 {
    font-size: 100px;
    font-family: Roboto;
}

textarea{
    width: 90%;
    height: 400px;
    font-family: Roboto;
}

h3 {
    text-align: center;
    font-family: Roboto;
}

h2 {
    font-family: Roboto;
}

p{
    font-family: Roboto;
}