<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Tell Me your secret</h1>


        <form action="." method="POST" name="Input" class="hform">
            <input name="abc" type="text">
        </form>
        

        {% if diary != None %}
            <p>{{diary}}</p>
        {% endif %}
    </center>
</body>

</html>