<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
        </style>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="content1">
            <h1>Give And<br>Recieve</h1>
            <h3>Anonymous Diary Entry</h3>
        </div>
        <div class="content2">
            <h2>What Do You Want To Get Off Your Chest?</h2>
            <form action="." method="POST" name="Input" class="hform">
            <textarea name="abc" placeholder="Message here..."></textarea>
            <br><br>
            <input type="submit">
            </form>
        </div>
    </div>
</body>

</html>